{% extends '_templates/base.njk' %}

{% block page_title %} restaurant types{% endblock %}

{% block page_description %}A list of high-end restuarants perfect for birthday celebrations, wedding anniversaries, retirement parties etc.{% endblock %}

{% block content %}
<div class="container">
  <h1>Gastronome</h1>
    <div class="col">
    <img src="img/Gastronome.jpeg" alt="Stack-of-Fish-and-Peppers-Picture">
    </div>
  <p>Gastronome is for a select few. Congratulations, you made it!</p>
  <h2>Fine Dining</h2>
  <div class="col">
  <img src="img/Fine Dining.jpeg" alt="Stack-of-Fish-and-Peppers-Picture">
  </div>
    <p>A list of high-end restuarants perfect for birthday celebrations, wedding anniversaries, retirement parties etc.</p>
    <a href="restaurants/fine-dining.html" target="_blank">Fine Dining</a>
    <h2>Healthy Eats</h2>
  <img src="img/Healthy Eats.jpeg" alt="Rice-and-Vegetable-Bowl">
    <p>Fitfam is great when you have the resources at your fingertips. Here's a list of restaurants that offer tasty but healthy meals. Check out our healthy eats restaurants.</p>
    <a href="restaurants/healthy-eats.html" target="_blank">Healthy Eats</a>
  <h2>Quick Bites</h2>
  <div class="col">
  <img src="img/Quick Bites.jpeg" alt="Burger-and-Fries-Picture">
  </div>
  <p>Got only a minute? These restaurants are perfect for when you want to grab a bite on the way to that very important meeting.</p>
  <h2>BOGO 50% Off</h2>
  <div class="col">
  <img src="img/BOGO 50.jpeg" alt="Buy-One-Get-One-Fifty-Percent-Off">
  </div>
  <p>On a tight budget? We have painstakingly sourced this list of restaurants that are notorious for having one deal or another.</p>
  <div class="row">
    {% for restaurant in gastronome.dining %}
      <div class="col">
        <img src="img/{{ restaurant.image }}.jpg" alt="" class="img-fluid">
      <h3><a href="restaurants/{{ restaurant.image }}.html">{{ restaurant.dining }}</a></h3>
      </div>
    {% endfor %}
</div>
{% endblock %}